<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>208E933E1DED71D800AC2825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>208E93521DED71D800AC2825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>208E935D1DED71D800AC2825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
